body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 48x;
    width: 250px;
    height: 40px;
    box-sizing: border-box
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }
  
  li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li span {
    font-size: 0.9em;
    color: #666;
  }
  
  li.buttons {
    display: flex;
  }

  li button {
    padding: 5px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #c82333;
    opacity: 0.8;
  }

  li button:first-of-type {
    background-color: #28a745;
  }
  
  li button:first-of-type:hover {
    background-color: #218838;
  }
  
  li button:last-of-type {
    background-color: #dc3545;
  }
  
  li button:last-of-type:hover {
    background-color: #c82333;
  }

  li.completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .todo-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 80vh; /* 高さを設定 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }